 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #CF1134;
  --light-bg: #f2f2f2;
  --hover-bg: #e6e6e6;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* ========================= */
/* NAVBAR BASE */
/* ========================= */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 40px;
  height: 70px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 
/* LEFT */
nav > .nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  /* flex: 1;        */
  /* width: 100px; */
}

nav > .nav-left img {
  height: 50px;
  width: 50px;
}

nav > .nav-left h2 {
  font-size: 22px;
  font-weight: 600;
}

/* CENTER */
nav > .nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  padding-left: 100px;
}

nav > .nav-center > .searchbar {
  display: flex;
  height: 45px;
  width: 400px;
  position: relative;
}

nav > .nav-center > .searchbar > input {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1px solid grey;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
}

nav > .nav-center > .searchbar > button {
  position: absolute;
  right: 0;
  height: 100%;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-color);
  color: white;
  font-size: 15px;
  padding: 0 18px;
  cursor: pointer;
}

/* RIGHT */
nav > .nav-right {
    /* width: 100px; */
  display: flex;
  align-items: center;
    /* flex: 1; */
    /* justify-content: flex-start; */
}

nav > .nav-right > button {
  background-color: var(--light-bg);
  border: none;
  padding: 10px 18px;
  margin-left: 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.2s;
}

nav > .nav-right > button:hover {
  background-color: var(--hover-bg);
}

nav > .nav-right > button i {
  color: var(--primary-color);
}

/* Main Section */

main{
  flex: 1;
  background-color: rgb(196, 144, 123);
  width: 100%;
}
/* Left Navigation */
.left-navigation{
  height: 100%;
  width: 380px;
  overflow-y: scroll;
  background-color: red;
}
.left-navigation-top-sec{
  overflow-x: scroll;
  background-color: aqua;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.left-navigation-top-sec span{
  font-size: 15px;
  padding: 6px 12px;
  border: 1px solid grey;
  border-radius: 50%;
}
.left-navigation-list{
  height: 100%;
    background-color: chartreuse;
}



 .left-navigation-top-sec::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}

.left-navigation-top-sec::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    height: 12px;
}

.left-navigation-top-sec::-webkit-scrollbar-thumb {
    background: #CF1134;
    border-radius: 10px;
}

.left-navigation-top-sec::-webkit-scrollbar-thumb:hover {
    background: #CF1134;
}












































/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width: 768px) {

  nav {
    padding: 0 20px;
    height: 65px;
  }

  /* hide search */
  nav > .nav-center {
    display: none;
  }

  nav > .nav-left h2 {
    font-size: 18px;
  }

  nav > .nav-right > button {
    padding: 8px 14px;
    font-size: 14px;
  }
}

/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width: 480px) {

  nav {
    padding: 0 12px;
    height: 60px;
  }

  nav > .nav-left img {
    height: 40px;
    width: 40px;
  }

  nav > .nav-left h2 {
    font-size: 18px;
  }
  
  nav > .nav-right > button {
    padding: 8px;
    font-size: 18px;
    margin-left: 11px;
  }

  /* hide text, keep icons */
  nav > .nav-right > button span {
    display: none;
  }
}